main{
    border: 1px solid gray;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background: linear-gradient(olive, 10%, rgb(210, 212, 202));
    box-shadow: 3px 3px rgba(43, 59, 6, 0.568), -0.25em 0 0.4em olive;
    border-radius: 3px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
      
      